<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Récupération du head commun-->
    <div th:replace="fragment/common :: head">head</div>
    <title>Accueil</title>
</head>
<body>
<!-- Récupération du fragment en tête -->
<div th:replace="fragment/common :: header"> En tête </div>

<!-- Décoration de la page d'accueil par les derniers livres acquis par les bibliothèques -->
<h2 th:text="'Les derniers livres acquis par nos bibiothèques'">Les livres</h2>


<table class="table table-striped alert-primary">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Isbn</th>
        <th>description</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="book : ${books.getContent()._embedded.bookList}">

        <td th:text="${book.title}">Bob</td>
        <td th:text="${book.isbn}">Marley</td>
        <td th:text="${book.description}">Dsc</td>
    </tr>
    </tbody>
</table>



<!-- Récupération du pied de page et des scripts -->
<div th:replace="fragment/common :: footer "> Pied </div>

</body>
</html>