<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Récupération du head commun-->
    <div th:replace="fragment/common :: head">head</div>
    <title>Accueil</title>
</head>
<body>
<!-- Récupération du fragment en tête -->
<div th:replace="fragment/common :: header"> En tête </div>

<!-- Décoration de la page d'accueil par les derniers livres acquis par les bibliothèques -->
<h2 class="text-center my-5"><strong th:text="'Les derniers livres acquis par nos bibiothèques'">Les livres</strong></h2>


<div class="card-deck" >
    <div class="card border-success my-2" th:each="newBook : ${books.getContent()._embedded.bookList}">
        <img class="card-img-top" th:src="@{${newBook.image}}">
        <div class="card-body">
            <H3 class="card-title" th:text="${newBook.title}">Titre du livre</H3>
        </div>
    </div>

</div>

<!-- Récupération du pied de page et des scripts -->
<div th:replace="fragment/common :: footer "> Pied </div>

</body>
</html>